<!-- ko with: home -->
<div data-bind="visible: app.view().constructor.name == 'HomeViewModel'">
    <div class="jumbotron">
        Add feed.
    </div>
    <div class="row">
        <div class="col-md-6">
            <form data-bind="submit: addStock">
                <div class="input-group col-md-6">
                    <span class="input-group-addon" id="basic-addon1">Add Stock</span>
                    <input type="text" class="form-control" placeholder="Enter symbol"
                           data-bind='value: stockSymbol, valueUpdate: "afterkeydown"' aria-describedby="basic-addon1">
                </div>
                <div class="alert alert-danger col-md-6" role="alert" data-bind="visible: showError">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span data-bind="text: error"></span>
                </div>
            </form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Change</th>
                        <th>Last</th>
                        <th>Ask</th>
                        <th>Bid</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Open</th>
                        <th>Last update</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: stocks">
                    <tr data-bind="click: $parent.getChart">
                        <td><span data-bind="text: symbol"> </span></td>
                        <td><span data-bind="text: change"> </span></td>
                        <td><span data-bind="text: last"> </span></td>
                        <td><span data-bind="text: ask"> </span></td>
                        <td><span data-bind="text: bid"> </span></td>
                        <td><span data-bind="text: daysHigh"> </span></td>
                        <td><span data-bind="text: daysLow"> </span></td>
                        <td><span data-bind="text: open"> </span></td>
                        <td><span data-bind="text: lastUpdate"> </span></td>
                        <td><a data-bind="click: $parent.deleteStock"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div data-bind="visible: loadingChart">
                <p>Loading</p>
            </div>
            <div data-bind="visible: showChart">
                <h2 data-bind="text: stockName"></h2>
                <span class="close-button glyphicon glyphicon-remove" data-bind="click: hideChart" title="Close chart"></span>
                <div id="chart">
                    <canvas id="stock-chart-canvas"
                            data-bind="chart: { type: 'line', data: SimpleLineData, options: { observeChanges: true, throttle: 3000 }}"></canvas>
                </div>
                @* Add class to selected button *@
                <div class="btn-group" role="group">
                    <button type="button" class="btn" data-bind="click: getChart.bind(self.stockId, 7)">1W</button>
                    <button type="button" class="btn" data-bind="click: getChart.bind(self.stockId, 30)">1M</button>
                    <button type="button" class="btn" data-bind="click: getChart.bind(self.stockId, 90)">3M</button>
                    <button type="button" class="btn" data-bind="click: getChart.bind(self.stockId, 365)">1Y</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
